extends layout

block content

  if user
    div(class="panel panel-default")
      div(class="panel-heading") 新規投稿
      div(class="panel-body") 
        form(method="post" action=`/thread/${threadId}/posts`, enctype="multipart/form-data")
          input(type="hidden" name="_csrf" value!=csrfToken)
          div(class="form-group")
            textarea(name="content" class="form-control" placeholder="投稿内容" required)
          div(class="form-group") .jpg or .png
            input(type="file" name="imageFile" class="btn btn-default" accept=".jpg,.png,image/jpg,image/jpeg,image/png")
          div(class="form-group")
            button(type="submit" class="btn btn-primary") 投稿

  - var _searchCondition = searchCondition ? searchCondition : '';
  form(method="get" action=`/thread/${threadId}/posts/search` class="form-inline")
    div(class="form-group")
      input(type="text" name="searchCondition" class="form-control" placeholder="部分一致" value=`${_searchCondition}`)
      button(type="submit" class="btn btn-default") 絞り込み



  form(method="get" action=`/thread/${threadId}/posts/export` class="form-inline")
    input(type="hidden" name="exportCondition" value=`${_searchCondition}`)
    button(type="submit" class="btn btn-default" onclick="getLocation()" ) エクスポート

  div(class="panel panel-default")
    div(class="panel-heading") 投稿一覧
    ul(class="list-group")
      each post, index in posts
        li(class="list-group-item")
          if user
            -var btnColor = post.Favorites.length > 0 ? 'btn-success' : 'btn-default'
            button(class=`favorite-button ${btnColor}`
              data-user-id=`${user.id}`
              data-post-id=`${post.id}`) favorite
          //- pugに名前が変わった際にパラメータを埋め込む際の書き方が変わった
          if user && post.postedBy === user.id
            a(href=`/thread/${threadId}/posts/${post.id}/edit`)   編集  
          p #{index + 1} : Posted by #{post.User.name}  #{post.formattedCreatedAt}
          each line in post.lines
            p #{line}
          if post.filePath
            a(href=`/${post.filePath}`) 
              img(src=`/${post.filePath}` class="img-responsive" alt="")

