extends layout

block content
  h1= title
  p #{user.name} userName
  p Welcome to #{title}
  h1 秘密の匿名掲示板
  a(href="/logout") ログアウト
  h2 新規投稿
  form(method="post", action="/posts")
    div
      textarea(name="content", cols=40, rows=4)
    div
      button(type="submit") 投稿
  h2 投稿一覧
  each post in posts
    // pugに名前が変わった際にパラメータを埋め込む際の書き方が変わった
    a(href=`/posts/${post.id}/edit`) この投稿を編集する
    h3 #{post.id} : ID:#{post.trackingCookie}
    p #{post.content}
    p 投稿日時: #{post.createdAt}
    
    hr
    