extends layout

block content
  h2 検索結果
  each post in posts
    a(href=`/posts/${post.id}/edit`) この投稿を編集する 
    a(href=`/posts/${post.id}/delete`) この投稿を削除する
    h3 #{post.id} : ID:#{post.trackingCookie}
    p #{post.content}
    p 投稿日時: #{post.createdAt}
    
    hr